.container {
    display: flex;
    flex-direction: column;
  
}

.header{
    display: flex;
}
.footer, .main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

