body{
    margin: 0;
}
.page-wrapper {
    background-color: #efefef;
}
  
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    background: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1), 0px 17px 24px rgba(0, 0, 0, 0.07);
    
}
    .sidebar-main {
        margin: 20px;
    }
    
    .sidebar-main ul {
        list-style: none;
        padding: 0;
    }
    
    .sidebar-main li {
        margin-bottom: 10px; 
    }
    
    .sidebar-main a {
        color: #333;
        text-decoration: none;
        display: block;
        padding: 10px;
        background: #f1f1f1;
        border-radius: 4px;
        transition:box-shadow 0.3s;
    }
    
    .sidebar-main .selected a {
        background: #ccc;
    }
    
    .sidebar-main a:hover {
        background: #ddd;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 4px 8px 0 rgba(0,0,0,0.19);
    }

.mainblock {
    margin-left: 21%;  
}
