article.reviews{
    padding: 20px;
    text-align: left;
}
.link-movie{
    font-weight: bold;
    color: #bf1313;
}

.title {
    font-size: 28px;
    color: #333;
}
.author-date {
    font-size: 16px;
    color: #666;
}
.article-cover {
    width: 60%;
    height: auto;
    
}
.article-body {
    width: 70%;
    font-size: 18px;
    color: #333;
    text-align: justify;
}
.article-img{
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
}