.stripe {
padding: 10px;
}

.stripe label {
display: inline-block;
padding-top: 7px;
padding-right: 16px;
padding-bottom: 7px;
padding-left: 0px;

}

.stripe input[type="checkbox"] {
margin-right: 10px;
background-color: #fff;

}


.stripe label:hover {
color: #333;
cursor: pointer;
}

.stripeButton {
    background-color: #ddd;
    border: none;
    padding: 7px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition:box-shadow 0.3s;
}

.stripeButton:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 4px 8px 0 rgba(0,0,0,0.19);
}

/* 搜索框样式 */
#searchBox {
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 5px;
}

/* 搜索按钮样式 */
.search-button{
    padding: 7px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover{
    background-color: #0056b3;
}

.movie-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}


.movie-img{
    width: 100%;
    height: auto;
}

.movie-info p,.movie-info h3{
    margin: 0;
    color: #0d55b4;
}

#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}


/* 黑色卡片样式 */
#info-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(49, 47, 47);
    max-height: 80%;
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000; /* 确保卡片位于页面最上方 */
    overflow: auto;
}


/* 电影信息样式 */
.movie-info{
    cursor: pointer;
    /* 其他样式 */
}

.createButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd;
    border: none;
    padding: 7px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition:box-shadow 0.3s;
}


.close-icon {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    font-size: 34px; /* 或根据您的设计需要调整大小 */
    font-weight: bold;
    color: white; /* 或您选择的任何颜色 */
  }
  
  /* 为关闭图标添加悬停效果 */
  .close-icon:hover {
    color: #ccc; /* 悬停时的颜色变化 */
  }
  


.review-card {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding-right: 5px;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
    .review-score {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex: 1;
        background: #EFEFEF;
    }
    
        .score-hexagon {
            width: 90px;
            height: 90px;
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        }
        
        .score-hexagon span {
            color: white;
            font-weight: bold;
            font-size: 24px;
            z-index: 1;
        }
    
    .review-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-width: 200px;
        padding: 20px;
        flex: 1;
    }
    
    .review-content h2 {
        margin: 0;
        color: #333;
    }
    
    .review-content p {
        color: #666;
    }
    
    .review-author {
        display: flex;
        align-items: center;
        margin-top: 20px;
        color: #333;
    }
    
    .review-image {
        display: block;
        margin: auto;
        
    }
    
    .review-image img {
        max-width: 300px;
        height: auto;
    }